.search-form {
  padding: 50px;
  display: flex;
}

.search-full-width {
  width: 100%;
}

.search-button {
  width: 20%;
  margin-left: 20px;
  height: 50px;
}

.display-articles {
  padding-left: 50px;
  padding-right: 50px;
}

mat-card {
  margin-bottom: 20px;
  margin-top: 20px;
}
